/* ROOT */

* {
    box-sizing: border-box;
    margin: 0;
}

/* OPDRACHT 1 */

#data {
    column-count: 3;
    flex-wrap: wrap;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title{
    font-size: 65px;
    font-family: Segoe Print, serif;
}

#button {
    height: 80px;
    width: 250px;
    background-color: #3CB371;
    border-radius: 25px;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a:link {
    text-decoration: none;
}

#world-map-png {
    width: 85%;
}

ul {
    list-style: none;
    padding-bottom: 50px;
}

.flag {
    max-width: 100px;
    max-height: 85px;
    margin-top: 10px;
}

.name {
    font-size: 20px;
}

.container-data {
    margin-top: 50px;
    width: 90vw;
    border: 1px solid grey;
    background-color: #f5f5f5;
}

/*--------------------------------------------------------------------------------------------------------------------*/

/* OPDRACHT 2 */

h4 {
    font-size: 22px;
    font-family: Segoe Print, serif;
}

#img-search {
    margin-top: 25px;
    height: 300px;

}

#page-title-search {
    font-size: 60px;
    font-weight: 900;
    font-family: Segoe Print, serif;
}

#query-field {
    width: 350px;
    height: 50px;
}

#button-search-page {
    width: 100px;
    height: 50px;

}

.search-fuction {
    display: flex;
    flex-direction: column;

}

.search {
    margin-top: 800px;
    width: 100%;
    display: flex;
}

#searchField {
    width: 100%;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 12px 0 0 12px;
    outline: none;
}

#searchButton {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    background: limegreen;
    text-align: center;
    color: #fff;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap{
    width: 30%;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-button-txt {
    color: black;
}
